/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Work Sans", sans-serif;
}
.section-title{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}
.text-light-gray{
    margin: 10px 0px;
    color: rgb(114,114,114);
}
.btn-primary{
    background-color: rgb(253,110,10);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px ;
    font-size: 1.25rem;
    margin: 5px 0px;
}
/* header styles down here */
header{
    background-color: rgb(255,244,231);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav > ul {
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
}
li a{
    text-decoration: none;
    color: black;

}
/* header styles up here */
/* ---------------------------------------------------------------------------- */
/* banner styles down here */
.banner{
    /* margin-top: 50px; */
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 50px auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: black;
    margin: 10px auto;
}
.banner-description{
    color: rgba(0, 0, 0, 0.541);
    margin: 10px auto;
}
.banner img{
    width: 100%;

}
/* banner styles down here */
/* ----------------------------------------------------------------- */
/* main styles down here*/
main{
    /* border: 2px solid red; */
    max-width: 1440px;
    margin: 0px auto;

}
.teams-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 50px 0px;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    padding: 0px 50px;
}
.teams-content{
    padding: 0px 50px;

}  
.teams-title{
    font-size: 2.8rem;
    font-weight: 500;

    margin: 10px 0px;
}
.text-features{
    color: rgb(253,110,10);
}
/* main styles up here */
/* --------------------------------------------------------------------------------------- */
/* fact section styles down here */
.facts-card-container{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border: 2px solid rgb(253,110,10);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: black;

}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(114,114,114);
}
/* fact section styles up here */

/* ------------------------------------------------------------------------------------------ */
/* responsive styles down here */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
        gap: 30px;
    }
    .teams-image-container{
        grid-template-columns: repeat(1,1fr);
    }
}


/* tablet or medium device */
@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;

    }
    .teams-content{
        padding: 50px 50px;
    
    } 
}